<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">


    <link rel="stylesheet" href="{{site.baseurl }}stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl }}stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
<!--
	<a href="https://github.com/drblinken/drblinken.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
-->
    <div class="wrapper">
      <header>
        <h1>Dr Blinken</h1>
        <p>blog, bentosheets and railspages.</p>

		<ul>
          <li><a href="{{ site.baseurl }}">Dr Blinken's Blog<strong>Blog</strong></a></li>
    	  <li><a href="{{ site.baseurl }}bentos">Bentosheets<strong>Bentos</strong></a></li>
          <li><a href="{{ site.baseurl }}railspages">Rails Pages<strong>Rails</strong></a></li>
		</ul>
   </header>
      <section>

	  {{ content }}

      </section>
<footer>
        <p>This page is maintained by drblinken <br />
	<a href="https://github.com/drblinken">github</a>
	| <a href="https://twitter.com/drblinken">twitter</a>
	| <a href="https://www.facebook.com/drblinken">facebook</a>
	| <a href="http://flickr.com/photos/drblinken/">flickr</a>

	</p>


        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a> &mdash; <a href="https://github.com/drblinken/drblinken.github.io">View the Project on GitHub <small>drblinken/drblinken.github.io</small></a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
